@model ToDoList.Mvc.Models.ViewModel.ListTaskToDoViewModel

@{
    ViewData["Title"] = "Tasks To Do";
}


<h1>All Tasks</h1>


<div class="container h-100">
    <div class="row h-100">
        <div class="col-md-4 border-left h-100" id="awaiting-container">
            <h3>
                <span>Awaiting</span>
                <button class="btn float-right">
                    +
                </button>
            </h3>
            <!-- model
    <div class="task-todo border rounded">
        <h4 class="border-bottom">Title of the task</h4>
        <p>
            In brightest day, in blackest night,
            No evil shall escape my sight.
            Let those who worship evil's might
            Beware my power--Green Lantern's light!
        </p>
    </div>-->
        @foreach (var task in Model.AwaitingTasks)
        {
            <div class="task-todo border rounded" draggable="true" id="task-@task.Id">
                <h4 class="border-bottom">#@task.Id - @task.Title</h4>
                <p>
                    @task.Description
                </p>
            </div>
        }
        </div>
        <div class="col-md-4 border-left" id="doing-container">
            <h3>
                <span>Doing</span>
                <button class="btn float-right">
                    +
                </button>
            </h3>
        @foreach (var task in Model.DoingTasks)
        {
            <div class="task-todo border rounded" id="task-@task.Id">
                <h4 class="border-bottom">#@task.Id - @task.Title</h4>
                <p>
                    @task.Description
                </p>
            </div>
        }
        </div>
        <div class="col-md-4 border-left" id="done-container">
            <h3>
                <span>Done</span>
                <button class="btn float-right">
                    +
                </button>
            </h3>
        @foreach (var task in Model.DoneTasks)
        {
            <div class="task-todo border rounded" id="task-@task.Id">
                <h4 class="border-bottom">#@task.Id - @task.Title</h4>
                <p>
                    @task.Description
                </p>
            </div>
        }
        </div>
    </div>
</div>